﻿/* Main CSS file for the Happy Earwig application */
/* Styles for the elements */
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    border: 5px dotted purple;
    width: 550px;
    margin: 0 auto;
    padding: 15px;
    background-color: honeydew;
}
header {
    border-bottom: 5px dotted purple;
    padding-bottom: 1em;
}
h1 {
    color: darkgrey;
}
h2
{
    color: lightsteelblue;
}
footer {
    border-top: 5px dotted purple;
    
}
.box {
    border: 2px dotted cadetblue;
    width: 11em;
}
.drop {
    border: 2px dotted cadetblue;
    width: 11em;
}
.input {
    border-top: 2px dotted cadetblue;
    width: 10em;
}
.errorMessage {
    color: orange;
}
